body{
	margin:0;
	background:#2d4e2f;
}
#products{
			background-image: url("../public/assets/trial image-4.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			z-index: -50;
}
