body{
	margin:0;
			background-image: url("../public/assets/trial image-4.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			z-index: -50;
}
#products{
	background: rgba(0, 0, 0, 0.4);
}
